In [15]:
#Ans1
a = 'SOUMYADIPTA'
print (a)
b = [1,2,3,'soumya',True,44.6]
print (b)
c = 33.6
print (c)
d = (1,2,'soumya',39.3)
print (d)

SOUMYADIPTA
[1, 2, 3, 'soumya', True, 44.6]
33.6
(1, 2, 'soumya', 39.3)

In [1]:
#Ans2
var1 = ''
print (type (var1))
var2 = '[DS , ML , Python]'
print (type (var2))
var3 = ['DS', 'ML', 'Python']
print (type (var3))
var4 = 1
print (type (var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [2]:
#Ans3
a = 16/4 #Division operator
print (a)
b = 15%4 #Modulus operator
print (b)
c = 15//4 #Quotient or Floor operator
print (c)
d = 4**4 #Exponet operator
print (d)

4.0
3
3
256

In [3]:
#Ans4
l = [1,2,3,4,'SD',True,33.4,9,10,11,12]
for a in l:
    print (a)
    print (type(a))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
SD
<class 'str'>
True
<class 'bool'>
33.4
<class 'float'>
9
<class 'int'>
10
<class 'int'>
11
<class 'int'>
12
<class 'int'>

In [1]:
#Ans5
A = 12
B = 1
while B <= A:
    c = A//B
    print (c)
    d = A%B
    if d == 0:
        print ('The number is purely divisible')
        B += 1
    elif d != 0:
        print ('The number is not purely divisible')
        B += 1
    else:
        print ('END!')

12
The number is purely divisible
6
The number is purely divisible
4
The number is purely divisible
3
The number is purely divisible
2
The number is not purely divisible
2
The number is purely divisible
1
The number is not purely divisible
1
The number is not purely divisible
1
The number is not purely divisible
1
The number is not purely divisible
1
The number is not purely divisible
1
The number is purely divisible

In [1]:
#Ans6
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    print (i)
    a = i % 3
    if a == 0:
        print ('This number is divisible by 3')
    elif a != 0:
        print ('This number is not divisibly by 3')
    else:
        print ('End!')

1
This number is not divisibly by 3
2
This number is not divisibly by 3
3
This number is divisible by 3
4
This number is not divisibly by 3
5
This number is not divisibly by 3
6
This number is divisible by 3
7
This number is not divisibly by 3
8
This number is not divisibly by 3
9
This number is divisible by 3
10
This number is not divisibly by 3
11
This number is not divisibly by 3
12
This number is divisible by 3
13
This number is not divisibly by 3
14
This number is not divisibly by 3
15
This number is divisible by 3
16
This number is not divisibly by 3
17
This number is not divisibly by 3
18
This number is divisible by 3
19
This number is not divisibly by 3
20
This number is not divisibly by 3
21
This number is divisible by 3
22
This number is not divisibly by 3
23
This number is not divisibly by 3
24
This number is divisible by 3
25
This number is not divisibly by 3

In [2]:
#Ans7
l = [1,4,'SD',45.6,True]
l[4] = False #Elements in a list are mutable i.e., a perticular element(s) can be alterd in a list by giving the index position of the element
print (l)
a = 'SOUMYA'
a[-1] = 'O' #Strings are immutable i.e., a perticular letter(s) in a string can't be altered, hence are immuatble
print (a)

[1, 4, 'SD', 45.6, False]

TypeError: 'str' object does not support item assignment